:root {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
    --skin-color: #f021b2;
}

body {
    font-family: Helvetica,Tahoma;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  
*,
*:before,
*:after {
    box-sizing: border-box;
}

body.hide-scrolling {
    overflow-y: hidden;
}

/* main {
    transition: all 0.4s ease-in-out;
} */

main.fade-out {
    opacity: 0;
} 

.backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: -1;
    filter:brightness(1);
}
    
.backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed;
}
  
.overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.8;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #FFF;
    text-align: center;
}

.hero.fade-out {
    opacity: 0;
}
      
.hero-center {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-left: 20px;
    padding-right: 20px;
}

.hero__logo {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.5);
}
                  
.hero__text {
    font-weight: normal;
    opacity: 0.8;
}

.hero__scroll {
    position: absolute;
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

.hero__scroll .chevron {
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    color: #03e9f4;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }
    100% {
       -webkit-transform: translate(0, 0);
       transform: translate(0, 0);
    }
}
                          
@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;
}
                                      
.chevron.right:before {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
                                      
.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
                                     
.chevron.left:before {
    left: 0.25em;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.profile-photo {
  width: 150px;
  transition: 1s ease;
}

.profile-photo:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}

#hero-social-bar {
    background-color: white;
    position: fixed;
    top: 0.2rem; right: 0.1rem;
    z-index: 200;
    padding: 5px 5px;
    border-top: 1px solid #313646;
    border-radius: 10px;
    display: none;
}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 50px;
	background-color: #3e65da;
}

.top-hide {
    display:none;
}

nav.fade-out {
    opacity: 0;
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 20px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

.word {
    margin: auto;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }

.scroll-btn {
    background-color: transparent;
    border-color: transparent;
}

.section {
    background-color:#050801;
    color: white;
    text-align: center;
    padding: 70px;
    line-height: 2;
    margin-bottom: 5px;
}

.section h1 {
    color: rgb(255, 45, 45);
    padding-bottom: 30px;
}

.block {
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
}
  
.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}
  
@keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.block:after {
    filter: blur(50px);
}

/* download button */

.download-a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
}

.download-a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.download-a:nth-child(1){
    filter: hue-rotate(270deg);
}

.download-a:nth-child(2){
    filter: hue-rotate(110deg);
}

.download-a span{
    position: absolute;
    display: block;
}

.download-a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.download-a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.download-a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.download-a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.skill-container {
	min-width: 250px;
	margin: 1rem;
	min-height: 250px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: white;
	border: 1px solid rgb(255 255 255 / 31%);
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 2rem;
}

.skill-container > img {
	width: auto;
	height: 60px;
	margin-bottom: 20px;
	margin-right: 15px;
}

.skill-container > img:hover {
	transition: ease-in 100ms;
	transform: scale(0.85);
	cursor: pointer;
}

.inner-pro-container {
    text-align: center;
}

.project-item {
    margin: 0 auto 30px;
    border-radius: 10px;
    padding: 15px;
}

.project-item-thumbanail {
    padding: 10px;
    border-radius: 10px;
}

.project-item-thumbanail img {
    width: 100%;
    border-radius: 10px;
}

.project-item-thumbanail img:hover {
    width: 99%;
}

.project-item-title {
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    font-weight: bold;
}

.project-item-details {
    display: none;
}

.hidden {
    display: none;
}

.pro-btn-bar {
    position: relative;
    text-align: center;
    display: block;
}

.pro-btn-bar .btn-social-icon {
    position: absolute;
    right: 5px;
    margin-left: 5px;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
}

.project-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    visibility: hidden;
}

.project-popup.open {
    visibility: visible;
    overflow-y: auto;
}

.project-popup.open .pp-container {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.pp-inner {
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp-container {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    border: solid 1px black;
    backdrop-filter:var(--backdrop-filter-blur);
    opacity: 0;
    transform: scale(0.9);
}

.pp-header {
    position: relative;
}

.pp-header .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -40px;
    top: -40px;
}

.pp-thimbnail {
    border-radius: 15px;
}

.pp-thimbnail img {
    width: 100%;
    border-radius: 10px;
}

.pp-thimbnail h3 {
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    margin: 15px 0 15px;
    padding-left: 2px;
}

.pp-body .description {
    margin-bottom: 20px;
}

.genaral-info ul {
    list-style: none;
    padding-left: 0;
}

.pp-body .genaral-info li {
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-flex;
}

.pp-body .genaral-info li p {
    font-weight: 300;
}

.pp-body .genaral-info li a {
    text-transform: lowercase;
}

.pp-p {
    white-space: nowrap;
    font-weight: bold !important; 
}

.contact-info-item {
    margin-bottom: 60px;
}

.contact-info-item .icon .fa {
    font-size: 25px;
    color: #03e9f4;
    filter: hue-rotate(110deg);
}

.contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.long-email {
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.contact-title {
    color: rgb(255, 45, 45);
    margin-bottom: 30px;
}

.contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact-link {
    text-decoration: none;
    color:  var(--text-black-700);
}

.contact-link:hover {
    color: #1877F2;
}

.contact-form .form-item {
    margin-bottom: 30px;
}

.contact-form .form-item .form-control {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: var(--bg-black-100);
    padding: 10px 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    color: white;
}

.contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact-form .form-item .btn {
    height: 50px;
    padding: 0 50px;
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}
  
.bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}
  
.bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
}
  
.bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
  
.bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.social-icon-bar {
    color: black;
    margin-bottom: 30px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}
  
.wrapper .icon, .wrapper-side .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip, .wrapper-side .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper .icon:hover span,
.wrapper-side .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedIn:hover,
.wrapper-side .linkedIn:hover,
.wrapper .linkedIn:hover .tooltip,
.wrapper .linkedIn:hover .tooltip::before {
    background: #007BB6;
    color: #ffffff;
}
  
.wrapper .facebook:hover,
.wrapper-side .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}
  
.wrapper .twitter:hover,
.wrapper-side .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}
  
.wrapper .instagram:hover,
.wrapper-side .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}
  
.wrapper .github:hover,
.wrapper-side .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}
  
.wrapper .youtube:hover,
.wrapper-side .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}

.fixed-social-btn {
    background-color: white;
    color: black;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    padding: 5px 0;
    border-top: 1px solid #313646;
    border-radius: 10px;
}

.side-socials .socials-item {
    margin-bottom: 5px;
}

.wrapper-side {
    list-style: none;
    padding-left: 0;
}

.page-wrapper {
    bottom: 0;
    width: 100%;
    z-index: 11111;
    
}

footer {
    color: #b0b0b0;
}

.footer-bottom {
    background-color: #1c1f2f;
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: #181828 !important;
    color: #b0b0b0;
    font-family: rubik;
}

.footer-site-info {
    font-size: 92.86%;
    text-align: center;
    margin-top: 15px;
}

#footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: white;
    text-align: center;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

.footer-bottom ul {
    margin: 0;
}

.inline-inside {
    font-size: 0;
    line-height: 0;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}

#footer-menu .menu-item {
    margin-top: 10px
}

navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

.footer-social-container {
    margin-top: 15px;
}

#footer-socials {
    text-align: center;
}

#footer-socials .socials {
    text-align: center;
    margin: 0 -7px;
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.linkedin-footer {
    color: #007BB6;
}

.github-footer {
    color: white;
}

.facebook-footer {
    color: #4e64b5;
}

.twitter-footer {
    color: #00aced;
}

.instagram-footer {
    color: #9a8f62;
}

.youtube-footer {
    color: #c82929;
}

.telegram-footer {
    color: #2ca5e0;
}

a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
    color: white;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

.widget {
    margin-bottom: 50px;
}

.footer-title {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
}

.footer-title:after {
    width: 50px;
    background: #fff;
    opacity: 0.2;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.gem-contacts-item {
    padding-top: 10px;
    font-size: 15px;
}

.gem-contacts-item i {
    padding-right: 10px;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.posts li {
    border-bottom: 1px solid #393d50;
    padding-bottom: 12px;
    padding-top: 6px;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

.gem-pp-posts-date {
    color: #00bcd4;
    font-size: 89.5%;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;font-size: 15px;
}

.posts li a {
    color: #99a9b5;
}

.footer-site-info {
  padding-top: 10px;
}

#contact {
    margin-bottom: 0px;
}

.rocket-nav {
	position: fixed;
	bottom: 2rem; right: 2rem;
	z-index: 100;
	display: none;
}

.lonchIcon {
	width: 40px;
	-webkit-transform:rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.project-main-grid {
    overflow-y: auto;
    padding: 10px 5px 0 0;
}

.project-grid {
    display: grid;
    grid-template-columns: auto 39px;
    margin: 2px 0px 5px 5px;
    cursor: pointer;
    padding: 2px 0;
    background-color: white;
}

.project-grid-title {
    padding: 1px 5px;
    text-align: left;
    color: black;
    line-height: 1.2;
}

.project-list-bar {
    margin-top: 10px;
}

.project-grid .btn-github {
    top: 50%;
    transform: translateY(-50%);
}

.project-grid:hover {
    background: #03e9f4;
    color: #050801;
}

.style-s::-webkit-scrollbar {
    width: 10px;
  }
  
.style-s::-webkit-scrollbar-track {
    background: rgb(2,0,36);
    border-radius: 10px;
}
  
.style-s::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: content-box;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

    .section {
        padding: 45px;
        line-height: 1.5;
    }
    #about {
        padding: 70px;
    }

    #skills, #projects, #contact {
        padding-top: 70px;
    }

    .download-a {
        margin: 20px 0;
        font-size: small;
    }
}

@media screen and (max-width: 700px) {
    .fixed-social-btn {
        display: none;
    }
}

@media screen and (max-width: 625px) {
    .pro-btn-bar .btn-social-icon {
        position: relative;
        right: 0;
        margin-left: 0;
        top: 0%;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 576px) {

    .project-item {
        max-width: 300px;
        font-size: 15px;
    }

    .pro-btn-bar {
        text-align: center;
        display: none;
        display: block;
    }

    .pro-btn-bar .btn-social-icon {
        position: absolute;
        right: 5px;
        margin-left: 5px;
        line-height: 1;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 560px) {
    .pp-p {
        white-space: normal;
        padding-right: 5px;
        margin-bottom: 0;
    }

    .pp-body .genaral-info li {
        display: block;
    }

    .pp-lan {
        padding-left: 10px;
    }
}

@media screen and (max-width: 450px) {
    .rocket-nav {
        bottom: 2rem; right: 1rem;
    }

    .lonchIcon {
        width: 30px;
    }

    #hero-current-status {
        display: none;
    }
}

@media screen and (max-width: 360px) {

    nav .logo {
        font-size: 15px;
	}

    .section {
        padding: 20px;
        line-height: 1.5;
    }
    .skill-container {
        padding: 1rem 5px;
        min-width: 200px;
    }
    .skill-container > img {
        max-width: 180px;
    }

    .contact-info-item {
        margin-bottom: 40px;
    }

    .side-socials a.socials-item {
        margin: 2px 2px 2px 1px;
        line-height: 16px;
        padding: 4px;
        border-radius: 50%;
    }
    
    .socials-item i {
        width: 1em;
        height: 1em;
        font-size: 16px;
    }

    .hero__scroll {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    .rocket-nav {
        bottom: 3.3rem;
    }
}

.side-socials {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 300px) {
    .pro-btn-bar .btn-social-icon {
        position: relative;
        right: 0;
        margin-left: 0;
        top: 0%;
        transform: translateY(0%);
    }
}